@font-face {
    font-family: texGyreHerosRegular;
    src: url('../../assets/webfonts/TeX-Gyre-Heros/texgyreheros-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: texGyreHerosCnregular;
    src: url('../../assets/webfonts/TeX-Gyre-Heros/texgyreheroscn-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html, body {
    font-family: 'Dosis', serif !important;
}

h1, h2 {
    font-family: 'texGyreHerosRegular', serif !important;
}

#sidebar {
    background-color: #28376e;
}

section#one {
    height: 80vh;
}

section#one > section {
    justify-content: center;
    align-items: center;
}

section#one img {
    width: 250px;
    height: auto;
}